/AddinTesting/.vs/AddinTesting/v16/.suo
/AddinTesting/.vs/AddinTesting/v16/Server/sqlite3/storage.ide
/AddinTesting/.vs/AddinTesting/v16/Server/sqlite3/storage.ide-shm
/AddinTesting/.vs/AddinTesting/v16/Server/sqlite3/storage.ide-wal

